---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section id="home">esto es home</section>
    <section id="about">esto es about</section>
    <section id="experience">esto es experience</section>
    <section id="skills">esto es skills</section>
    <section id="contact">esto es contact</section>
  </main>
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #0c0f14;
    color: #fff;
  }
  section {
    height: 600px;
  }
</style>
