<section id="about">
  <h2>About</h2>
  <p>
    Hi! I'm Luis Martinez and I develop web applications. I had my first
    approach to software development through a research internship in which I
    implemented and automated the analysis of atmospheric data using Python.
  </p>
  <p>
    I decided to study web application development after finding my passion in
    programming and since then I haven't stopped training in different
    technologies. I am able to work in teams and individually creating effective
    solutions.
  </p>
</section>

<style>
  * {
    margin: 0;
  }

  section {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
</style>
