---
import ExperienceCard from "./ExperienceCard.astro";
import { getCollection } from "astro:content";
const experiences = await getCollection("experience");
const formatedExperiences = experiences.sort(
  (a, b) => Number(b.id) - Number(a.id)
);
---

<section id="experience">
  <h2>Experience</h2>
  <ul>
    {
      formatedExperiences.map((experience) => (
        <ExperienceCard {...experience.data} />
      ))
    }
  </ul>
</section>

<style>
  * {
    margin: 0;
  }

  section {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 40rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.125rem;
  }

  ul {
    padding: 0;
  }
</style>
