<label for="drawer" id="open_drawer">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
  >
    <path fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"
    ></path>
  </svg>
</label>

<input type="checkbox" name="drawer" id="drawer" hidden />

<nav>
  <label for="drawer" id="close_drawer">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"
      ></path>
    </svg>
  </label>
  <ul class="header__links">
    <li>
      <a href="#home">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z"
          ></path>
        </svg>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="#about">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
          ></path>
        </svg>
        <span>About</span>
      </a>
    </li>
    <li>
      <a href="#experience">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"
          ></path>
        </svg>
        <span>Experience</span>
      </a>
    </li>
    <li>
      <a href="#skills">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4z"
          ></path>
        </svg>
        <span>Skills</span>
      </a>
    </li>
    <li>
      <a href="#contact">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5l-8-5V6l8 5l8-5v2z"
          ></path>
        </svg>
        <span>Contact</span>
      </a>
    </li>
  </ul>
</nav>

<style>
  #open_drawer {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
  }

  #close_drawer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5rem;
    left: 0.5rem;
    height: 3rem;
    width: 3rem;
  }

  input:checked ~ nav {
    transform: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #11161f;
    transform: translatex(-100%);
    transition: transform 0.3s;
    height: 100%;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0;
  }

  a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.15s ease-in-out;
  }

  a:visited {
    color: #fff;
  }

  a:hover,
  a.active {
    color: #3498db;
  }

  @media (min-width: 768px) {
    #open_drawer,
    #close_drawer {
      display: none;
    }
    nav {
      position: sticky;
      top: 0;
      left: 0;
      max-height: 100vh;
      display: flex;
      align-items: center;
      transform: none;
      min-height: 100vh;
      background-color: transparent;
    }
  }
</style>

<script>
  const sections = document.querySelectorAll("section");
  const navLinks = document.querySelectorAll("nav ul li a");
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const sectionId = entry.target.getAttribute("id");
          navLinks.forEach((link) => link.classList.remove("active"));
          document
            .querySelector(`nav ul li a[href="#${sectionId}"]`)
            ?.classList.add("active");
        }
      });
    },
    {
      threshold: 0.8,
    }
  );

  sections.forEach((section) => observer.observe(section));
</script>
