<section id="home">
  <span>Hola, mi nombre es</span>
  <h1>Luis Martínez</h1>
  <span>Full Stack Developer</span>

  <p>
    Desarrollo aplicaciones web tanto en el lado del cliente como en el servidor
    utilizando JavaScript como principal tecnología.
  </p>

  <a href="#contact">Trabajemos juntos</a>
</section>

<style>
  * {
    margin: 0;
  }

  section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  span {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3rem;
    color: #3498db;
    font-weight: 700;
  }

  p {
    color: rgb(148, 163, 184);
  }

  a {
    background-color: #3498db;
    width: fit-content;
    padding: 1rem 2rem;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    border-radius: 1.5rem;
  }
  a:visited {
    color: #000;
  }
</style>
