---
import ProjectCard from "./ProjectCard.astro";
import image6 from "../assets/image6.webp";
import zentia from "../assets/zentia.webp";
import devblog from "../assets/devblog.webp";
const projects = [
  {
    image: zentia,
    imageAlt: "Zentia Store project image",
    title: "Zentia Store",
    description:
      "Site created for an e-commerce. It uses headless Wordpress and WooCommerce to manage orders and products.",
    techs: ["WIP", "React", "Next.js", "Tailwind", "API"],
    projectLink: "https://zentia-store.vercel.app/",
  },
  {
    image: image6,
    imageAlt: "News App project image",
    title: "News App",
    description:
      "Team developed application. It consumes an API created for the project and displays the most relevant news of the different categories.",
    techs: ["React", "Tailwind", "Express", "MongoDB", "API"],
    projectLink: "https://news-app-seven-iota.vercel.app/",
  },
  {
    image: devblog,
    imageAlt: "DevBlog project image",
    title: "DevBlog",
    description:
      "Team developed application. Blog template developed with React. It uses Markdown to render the content of the articles.",
    techs: ["React", "Tailwind"],
    projectLink: "https://dev-blog-mu.vercel.app/",
  },
];
---

<section id="projects">
  <h2>Projects</h2>
  <ul>
    {projects.map((project) => <ProjectCard {...project} />)}
  </ul>
</section>

<style>
  * {
    margin: 0;
  }

  section {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.125rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
