---
import ProjectCard from "./ProjectCard.astro";
import zentia from "../assets/zentia.webp";
import timeless from "../assets/timeless-desktop.png";
import planetx from "../assets/planetx.png";
const projects = [
  {
    image: planetx,
    imageAlt: "PlanetX Adventures project image",
    title: "PlanetX Adventures",
    description:
      'Landing page showcasing "PlanetX Adventures", a fictional company specializing in interplanetary camps. Stay tuned for upcoming features, including reservation capabilities and boarding ticket issuance.',
    techs: ["WIP", "Astro", "React", "API", "NestJS", "MySQL"],
    projectLink: "https://planetx-adventures.vercel.app/",
  },

  {
    image: timeless,
    imageAlt: "Timeless Brews project image",
    title: "Timeless Brews",
    description:
      'Landing page highlighting "Timeless Brews", an imaginary beer brand that seamlessly combines tradition with a contemporary flair. Dive into the fusion of classic and modern brewing on our platform!',
    techs: ["HTML", "CSS", "React", "Vite", "IA Images"],
    projectLink: "https://timeless-brews.vercel.app/",
  },
  {
    image: zentia,
    imageAlt: "Zentia Store project image",
    title: "Zentia Store",
    description:
      "Crafted an e-commerce website leveraging headless WordPress and WooCommerce for streamlined order and product management. Explore seamless online shopping experiences with our cutting-edge platform.",
    techs: ["React", "Next.js", "Tailwind", "API", "WooCommerce"],
    projectLink: "https://zentia-store.vercel.app/",
  },
];
---

<section id="projects">
  <h2>Projects</h2>
  <ul>
    {projects.map((project) => <ProjectCard {...project} />)}
  </ul>
</section>

<style>
  * {
    margin: 0;
  }

  section {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.125rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
    padding: 0;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 3rem;
    }
  }
</style>
