<section id="skills">
  <h2>Skills</h2>
</section>
<style>
  * {
    margin: 0;
  }

  section {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
</style>
